{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% load static %}
{% block content %}
<div style="padding-top: 8px + 1vh;">
  <section class="main-container">
    <h2 id="myList" style="margin-top: 7vmin; font-weight: bold;">영화 목록</h2>
    <div class="box mt-4">
      {% for movie in page %}
      <a class="my-auto" href="{% url 'movies:detail' movie.pk %}">
        <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" 
          class="card-img-top poster-img" alt="...">
      </a>
      {% endfor %} 
      
    </div>
  </section>

  <div class="mt-4 d-flex justify-content-center">
    {% bootstrap_paginate page range=10 show_prev_next="false" show_first_last="true" %}
  </div>
</div>

<style>

  .pagination .page-link {
    background: white;
    color: white ;
    color: black;
    border-width: 1px;
    border-color:  #141414;
  }
  .page-item.active .page-link {
    color: #FFFFFF;
    background-color: #141414;
  }
</style>
{% endblock content %}

 






