{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- 비디오 -->
<div class="">
  <section class="netflix-home-video">
    <div class="top"></div>
    <div class="bottom"></div>
    {% comment %} 비디오 https://www.w3schools.com/howto/howto_css_fullscreen_video.asp {% endcomment %}
    <video id="myVideo" autoplay muted loop>
      <source src="{% static "./video/Marvel.mp4" %}" type="video/mp4">
    </video>
    
    <div class="content">
      <section class="left ms-2 mt-2">
          <!-- <img class="ms-2 lg" src="{% static "./img/video_img.png" %}" alt="" style="height:10%"> -->

        <div class="d-flex mt-5">
          <i class="bi bi-pause-fill mt-1" id="runBtn" onclick="myRun()" 
          style="cursor: pointer; font-size:2rem;"></i>
          <i class="bi bi-volume-mute mt-1" id="muteBtn" onclick="myMute()" 
          style="  cursor: pointer;   font-size:2rem;"></i> 
        </div>
      </section>
    </div>
  </section>
</div>


<section class="main-container" >
  <h3 id="home" style="margin-top: 5vh;" class="mx-3">인기있는 영화</h3>
  <div id="carouselExampleIndicators1" class="carousel slide mx-3" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for movie_group in group_popular_movies %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="d-flex justify-content-around">
          {% for movie in movie_group %}
            {% if movie %}
            <div class="p-2 item-container">
              <a class="my-auto" href="{% url 'movies:detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" 
              class="card-img-top poster-img" alt="..."></a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %} 
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
  </div>
  <br>

  <h3 id="myList" style="margin-top: 5vh;" class="mx-3">평점 높은 영화</h3>
  <div id="carouselExampleIndicators2" class="carousel slide mx-3" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for movie_group in group_best_movies %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="d-flex justify-content-around">
          {% for movie in movie_group %}
            {% if movie %}
            <div class="p-2 item-container">
              <a class="my-auto" href="{% url 'movies:detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" 
              class="card-img-top poster-img" alt="..."></a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %} 
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
  </div>

  </div>
  <br>
</section>


<!-- 음소거 재생 -->
<script>
  const video = document.querySelector("#myVideo");
  const btn = document.querySelector("#runBtn");
  function myRun() {
    if (video.paused) {
      video.play();
      btn.setAttribute('class','bi bi-pause-fill mt-1');
    } else {
      video.pause();
      btn.setAttribute('class','bi bi-play-fill mt-1');
    }
  }

  const mute = document.querySelector("#muteBtn");
  function myMute() {
    if (video.muted) {
      video.muted = false;
      mute.setAttribute('class','bi bi-volume-up mt-1');
    } else {
      video.muted = true;
      mute.setAttribute('class','bi bi-volume-mute mt-1' );
    }
  } 

</script>

<style>

.carousel-control-prev, .carousel-control-next {
  width: auto;
  margin: 0 -40px;
}

.carousel-indicators {
  position: static;
  margin-top: 2px;
}

.item-container {
  transition: transform .3s;
}

.item-container:hover {
  transition: transform .3s;
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);  
  transform: scale(1.15);
}

.item-container img {
  border-radius: 2px;
}

</style>

{% endblock content %}