{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="">
  <section class="netflix-home-video">
    <div class="top"></div>
    <div class="bottom"></div>
  
    <video id="myVideo" autoplay muted loop>
      <source src="{% static "./video/Marvel.mp4" %}" type="video/mp4">
    </video>
    

    
    <div class="content mt-4" style="float: none;" >
      <section class="left" style="float: none;" >
        <!-- <img  class="ms-2" src="{% static "./img/logo.png"" %}" alt="" > -->
        <div class="d-flex mt-2">
      
          <i class="bi bi-pause-fill mt-1" id="runBtn" onclick="myRun()" 
          style="cursor: pointer; font-size:2rem;"></i>

          <i class="bi bi-volume-mute mt-1" id="muteBtn" onclick="myMute()" 
          style="  cursor: pointer;   font-size:2rem;"></i> 
        </div>
      </section>
    </div>
  </section>
</div>


<section class="main-container" >

  <h2 style="margin-top: 5vh;">My Movies</h2>
  <br>
  {% if likes|length >= 1 %}
  <p> - My likes Movies</p>
    <div class="box mt-4">
      {% for like in likes %}
      <a class="my-auto" href="{% url 'movies:detail' like.pk %}"><img src="https://image.tmdb.org/t/p/w500{{like.poster_path}}" 
        class="card-img-top poster-img" alt="{{ like.title }}_poster"></a>
      {% endfor %}
    </div>
  {% else %}
  <p> - My likes Movies</p>
    <br>
    <p>아직 작성된 좋아요가 없어요!</p>
    
  {% endif %}
  <br>
  {% if print_my_movies|length >= 1 %}
  <p> - My review Movies</p>
    <div class="box mt-4">
      {% for movie in print_my_movies %}
      <a class="my-auto" href="{% url 'movies:detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" 
      onerror="this.src='{% static 'img/no_photo.png' %}'" class="card-img-top poster-img" alt="..."></a>
      {% endfor %} 
    </div>
  {% else %}
  <p> - My review Movies</p>
    <br>
    <p>아직 작성된 리뷰가 없어요!</p>
    
  {% endif %}
  <br>

   
  <h2 id="home" style="margin-top: 5vh;">Popular Movies</h2>
  <div class="box mt-4">
    {% for movie in popular_movies %}
    <a class="my-auto" href="{% url 'movies:detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" 
    onerror="this.src='{% static 'img/no_photo.png' %}'" class="card-img-top poster-img" alt="..."></a>
    {% endfor %} 
  </div>
  <br>

  <h2 id="myList" style="margin-top: 5vh;">Top Rated</h2>
  <div class="box mt-4">
    {% for movie in best_movies %}
    <a class="my-auto" href="{% url 'movies:detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" 
      onerror="this.src='{% static 'img/no_photo.png' %}'" class="card-img-top poster-img" alt="..."></a>
    {% endfor %} 
 
  </div>
  <br>
</section>


<script>
  const video = document.querySelector("#myVideo");
  const btn = document.querySelector("#runBtn");
  function myRun() {
    if (video.paused) {
      video.play();
      btn.setAttribute('class','bi bi-pause-fill mt-1');
    } else {
      video.pause();
      btn.setAttribute('class','bi bi-play-fill mt-1');
    }
  }
 
  const mute = document.querySelector("#muteBtn");
  function myMute() {
    if (video.muted) {
      video.muted = false;
      mute.setAttribute('class','bi bi-volume-up mt-1');
    } else {
      video.muted = true;
      mute.setAttribute('class','bi bi-volume-mute mt-1' );
    }
  } 



</script>
{% endblock content %}
