{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% load static %}
{% block content %}
<div style="padding-top: 8px + 1vh;">
  <section class="main-container">
    <h2 id="myList" style="margin-top: 7vmin; font-weight: bold;">인기순</h2>
    <div class="d-flex justify-content-end">
      <div class="dropdown">
        <button class="btn dropdown-toggle" style="background-color: #870FEA; color: white;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        인기순
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'movies:all' %}">기본</a>
          <a class="dropdown-item" href="{% url 'movies:recent' %}">최신순</a>
          <a class="dropdown-item" href="{% url 'movies:old' %}">오래된순</a>
          <a class="dropdown-item" href="{% url 'movies:top_rate' %}">평점높은순</a>
        </div>
      </div>
    </div>

    <br>

    <div class="box mt-4">
      {% for movie in page %}
      <div class="item-container">
        <a class="my-auto" href="{% url 'movies:detail' movie.pk %}">
          <div class="image">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" 
              class="card-img-top poster-img" alt="...">
          </div>
          <div class="caption">
            <p>{{ movie.title }}</p>
          </div>
        </a>
      </div>
      {% endfor %} 
      
    </div>
  </section>

  <div class="mt-4 d-flex justify-content-center">
    {% bootstrap_paginate page range=10 show_prev_next="false" show_first_last="true" %}
  </div>
</div>

<style>

  .pagination .page-link {
    background: white;
    color: white ;
    color: black;
    border-width: 1px;
    border-color:  #141414;
  }
  .page-item.active .page-link {
    color: #FFFFFF;
    background-color: #141414;
  }
</style>
{% endblock content %}