{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<section class="main-container" >

  <div class="" style="padding-top: 8px + 1vh;">
    <div class="mx-5 " style="margin: 7vmin 0;">
      <div class=" d-flex justify-content-between ">
        <h1 class=" " style="max-width: 50rem;"><i class="fs-2 bi bi-person-square"></i>{{ person.username }}님의 페이지</h1>
        {% if request.user == person %}
        <a href="{% url 'accounts:update' %}" role="button" style="color: #F3F3F3; --bs-btn-padding-y: .65rem; --bs-btn-padding-x: .8rem; 
        --bs-btn-font-size: 1.2rem; margin-top:60px;" class="  btn btn-outline-secondary ">회원정보수정</a>
        {% endif %}
      </div>

    <div>
        <div>
          
          팔로워 : {{ person.followers.all | length }}  &nbsp | &nbsp 팔로잉 : {{ person.followings.all | length }}
        </div>
        {% if request.user != person %}
            <div>
                <form action="{% url 'accounts:follow' person.username %}" method="POST">
                    {% csrf_token %}
                    {% if request.user in person.followers.all %}
                        <input type="submit" value="언팔로우" style="color: #F3F3F3; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
                        --bs-btn-font-size: .9rem;" class="  btn btn-outline-secondary">
                    {% else %}
                        <input type="submit" value="팔로우" style="color: #F3F3F3; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; 
                        --bs-btn-font-size: .9rem;" class="  btn btn-outline-secondary">
                    {% endif %}
                </form>
            </div>
        {% endif %}
    </div>
   
      
      

      <hr class="mx-auto">
      <h3 style="margin-top: 2vh;">My Like Movies</h3>
      {% if likes|length >= 1 %}
        <div class="box mt-4">
          {% for like in likes %}
          <a class="my-auto" href="{% url 'movies:detail' like.pk %}"><img src="https://image.tmdb.org/t/p/w500{{like.poster_path}}" 
            class="card-img-top poster-img" alt="{{ like.title }}_poster"></a>
          {% endfor %}
        </div>
      {% else %}
        <br>
        <p>아직 작성된 좋아요가 없어요</p>
        <a id="none" href="{% url 'movies:all' %}" style="text-decoration: none; color: gray;">영화 좋아요 하러가기</a>
      {% endif %}
      <br>
      
      <hr class="mx-auto " style="">
      <h3 style="margin-top: 2vh;">My Review Movies</h3>
      {% if reviewed_movies|length >= 1 %}
        <div class="box mt-4">
          {% for idx, movie in reviewed_movies %}
          <a class="my-auto" href="{% url 'community:detail' idx %}"><img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" 
            class="card-img-top poster-img" alt="{{ movie.title }}_poster"></a>
          {% endfor %} 
        </div>
      {% else %}
        <br>
        <p>아직 작성된 리뷰가 없어요</p>
        <a id="none" href="{% url 'community:index' %}" style="text-decoration: none; color: gray">리뷰 남기기</a>
      {% endif %}
      <br>


    </div>
  </div>
</section> 


<style>
  .text-muted {
    color: #686868!important;
  }
</style>

{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const form = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  form.addEventListener('submit', function (event) {
    event.preventDefault()
    
    const userPk = event.target.dataset.userPk
    
    axios({
      method: 'post',
      url: `/accounts/${userPk}/follow/`, 
      headers: {'X-CSRFToken': csrftoken,}
    })
    .then((response) => {
      const isFollowed = response.data.is_followed
      const followBtn = document.querySelector('#follow-form > input[type=submit]')

      if (isFollowed === true) {
        followBtn.value = '언팔로우'
      } else {
        followBtn.value = '팔로우'
      }

      const followersCountTag = document.querySelector('#followers-count')
      const followingsCountTag = document.querySelector('#followings-count')
      const followersCount = response.data.followers_count
      const followingsCount = response.data.followings_count
      followersCountTag.innerText = followersCount
      followingsCountTag.innerText = followingsCount

      console.log(response)
    })
    .catch((error) => {
      console.log(error.response)
    })
  })
</script>
{% endblock script %}