{% extends 'base.html' %}

{% block content %}


<div class="main-container">
    <h1>머신러닝을 활용한 영화 추천 받기</h1>
    <br>
    <form method="POST" href="{% url 'recommendations:home' %}">
        {% csrf_token %}
        <label for="title">Choose a movie you like:</label>
        <select name="title" id="title">
            {% for movie in movie_list %}
                <option value="{{ movie }}">{{ movie }}</option>
            {% endfor %}
        </select>
        <button type="submit" style="background-color: #870FEA; color: #F3F3F3; --bs-btn-padding-y: .65rem; --bs-btn-padding-x: .8rem; 
        --bs-btn-font-size: 0.8rem;" class="btn">추천받기</button>
    </form>
</div>

{% endblock content %}